$blue: #64C9CF;
$lightorange: #FDE49C;
$orange: #FFB740;
$darkorange: #DF711B;
$colorBlack: #333;
$bgdwhite: rgb(233, 233, 233);

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  display: grid;
  justify-content: center;
  align-items: center;
}

.datainput{
  margin: 1em 0 1em 0;
  gap: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

  button{
    border: none;
    border-radius: 4em;
    background: $orange;
    color: $colorBlack;
    font-size: 1rem;
    padding: 1em;
  }

  button:hover{
    background: $darkorange;
    color: $bgdwhite;
    cursor: pointer;
  }

  input{
    border: none;
    background: $orange;
    color: $colorBlack;
    border-radius: 0;
    font-size: 1rem;
    padding: 1em;
    min-width:15vw;
  }

  h2{
    color: $bgdwhite;
    text-shadow: 0 0 .5em black;
  }
}

// color pallete https://colorhunt.co/palette/faee1cf3558e9c1de7581b98